{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="twelve columns statuscontainer offset-by-two" style="margin-top:40px">
        <div class="ten columns">
            <div class="pseudo-topbar">
                <img src="{% static "img/logo_renette.png" %}">
            </div>
            <hr>
        <h2>History</h2>
            <br/>
            {% for status in statuses %}
                <p class="history-status">
                    <span class="status-time code{{ status.code }}">{{ status.get_readable_time }}</span>
                    <span class="target-status history-message code{{ status.code }}">{{ status.message }}</span>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
