{% extends "base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="twelve columns statuscontainer offset-by-two" style="margin-top:40px">
        <div class="ten columns">
            <div class="pseudo-topbar">
                <img src="{% static "img/logo_renette.png" %}">
            </div>
            <hr>
            <br/>
            <div class="global-status code{{ global_status.code }}">
                <h1>{{ global_status.message }}</h1>
                <a href="/history" class="history">(view history)</a>
            </div>
            {% for log in latest_logs %}
                <p class="service-status">
                    <span class="target-name code{{ log.status_code }}">{{ log.target.name }}</span>
                    <span class="target-status code{{ log.status_code }}">{{ log.status_message }}</span>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}